@media screen and (max-width: 330px) {

  /*hotels*/
  .accom {
    h1 {
      font-size: 30px;
    }
  }

  .card__container {
    .card__individual {
      width: 18rem;
    }
  }
}

@media screen and (max-width: 386px) {

  /*home*/
  .core__info {
    ul {
      li {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 389px) {

  /*contact*/
  .contact__container {
    .box__one {
      width: 300px;
    }

    .box__two {
      width: 300px;

      .location {
        .map {
          iframe {
            width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {

  /*news*/
  .more__info {
    .news__name {
      img {
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 1269px) {

  /*news**/
  .newsTwo {
    .news__descrip {
      .information__news {
        p {
          padding-left: 50px;
          padding-right: 50px;
          margin: 0px;
        }
      }

      p {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }
}


@media screen and (max-width: 1200px) {





  /*parks*/

  .parks__tittle {
    img {
      width: 100%;
      height: 400px;
    }
  }

  .container__water {
    margin: 0px;
    padding: 0px;
    width: 100%;

    h2 {
      padding-top: 50px;
      padding-bottom: 20px;
      font-weight: bold;
    }

    .water__parks {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      flex-direction: column;
      padding: 0%;
      width: 100%;
      height: 800px;

      .typhoon__blizzard {
        height: 400px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          height: 300px;
          width: 100%;
        }
      }
    }
  }

  .additional__info {
    width: 100%;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 30px;
    margin: 0px;

    p {
      font-size: 18px;
      text-align: center;
    }
  }

  .presentation {
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 10px;

    h2 {
      width: 100%;
      padding: 10px;
      margin: 0px;
      height: 100px;
      font-size: 18px;
    }

    .info {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      h3 {
        font-size: 15px;
      }
    }
  }

  .parks {
    .studios {
      ul {
        li {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {

  /*news*/
  .newsNews {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    width: 100%;
    margin: 0px;
    height: 800px;

    .news__img {


      img {
        height: 400px;
      }
    }

    .news__descrip {
      height: 400px;

      p {
        font-size: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }

  .newsTwo {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    width: 100%;
    margin: 0px;
    height: 800px;

    .news__img {
      height: 400px;

      img {
        height: 100%;
      }
    }

    .news__descrip {
      height: 400px;

      p {
        font-size: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }

  .more__info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;

    .news__name {
      width: 100%;
      height: 400px;

      img {
        width: 390px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .container__form {
    .news__form {
      width: 100%;

      h3 {
        font-size: 18px;
      }

      .fill {
        display: none;
      }
    }
  }

  /*parks*/
  .parks {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;

    .studios {
      width: 450px;
      height: 150px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      img {
        height: 200px;
        height: 80px;
      }

      ul {
        display: none;
      }
    }

    .pic {
      img {
        height: 300px;
        width: 450px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  /*news*/
  .newsNews {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    width: 100%;
    margin: 0px;


    .news__img {
      img {
        height: 300px;
      }
    }
  }

  .newsTwo {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    width: 100%;
    margin: 0px;
    height: 850px;

    .news__img {
      img {
        height: 300px;
      }
    }
  }

  .more__info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;

    .news__name {
      width: 100%;
      height: 400px;

      img {
        width: 390px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .container__form {
    .news__form {
      width: 100%;

      h3 {
        font-size: 18px;
      }

      .fill {
        display: none;
      }
    }
  }

  /*parks*/
  .parks__tittle {
    .tittleHome {
      h1 {
        font-size: 30px;
        position: absolute;
        top: 10px;
        left: 20px;
        right: 20px;
      }
    }

    img {
      width: 100%;
      height: 300px;
    }
  }

  .container__water {
    margin: 0px;
    padding: 0px;
    width: 100%;

    h2 {
      padding-top: 50px;
      padding-bottom: 20px;
      font-weight: bold;
    }

    .water__parks {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      flex-direction: column;
      padding: 0%;
      width: 100%;
      height: 800px;

      .typhoon__blizzard {
        height: 400px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          height: 300px;
          width: 100%;
        }
      }
    }
  }

  .additional__info {
    width: 100%;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 30px;
    margin: 0px;

    p {
      font-size: 18px;
      text-align: center;
    }
  }

  .parks {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;

    .studios {
      width: 450px;
      height: 150px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      img {
        height: 200px;
        height: 80px;
      }

      ul {
        display: none;
      }
    }

    .pic {
      img {
        height: 300px;
        width: 450px;
      }
    }
  }

  .presentation {
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 10px;

    h2 {
      width: 100%;
      padding: 10px;
      margin: 0px;
      height: 100px;
      font-size: 18px;
    }

    .info {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      h3 {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  /*parks*/

  .parks__tittle {
    .tittleHome {
      h1 {
        font-size: 20px;
        position: absolute;
        top: 10px;
        left: 20px;
        right: 20px;
      }
    }

    img {
      width: 100%;
      height: 200px;
    }
  }

  .container__water {
    margin: 0px;
    padding: 0px;
    width: 100%;

    h2 {
      padding-top: 50px;
      padding-bottom: 20px;
      font-weight: bold;
    }

    .water__parks {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      flex-direction: column;
      padding: 0%;
      width: 100%;
      height: 800px;

      .typhoon__blizzard {
        height: 400px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          height: 300px;
          width: 100%;
        }
      }
    }
  }

  .parks {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .studios {
      width: 350px;
      height: 150px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      img {
        height: 200px;
        height: 80px;
      }

      ul {
        display: none;
      }
    }

    .pic {
      img {
        height: 300px;
        width: 350px;
      }
    }
  }

  .presentation {
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 10px;

    h2 {
      width: 100%;
      padding: 10px;
      margin: 0px;
      height: 100px;
      font-size: 18px;
    }

    .info {
      display: none;
    }
  }

  .additional__info {
    width: 100%;
    height: 250px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
    margin: 0px;

    p {
      font-size: 15px;
      text-align: center;
    }
  }

  /*news*/

  .news {
    .news__header {
      h1 {
        font-size: 30px;
      }
    }
  }

  .news__descrip {
    width: 100%;
    height: 100%;



    .tittle {
      padding: 25px;

      h2 {
        font-size: 30px;
      }
    }

    .information__news {
      display: none;
    }


  }

  .information__news {
    ul {
      li {
        font-size: 15px;

      }
    }
  }

  .newsNews {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    width: 100%;
    margin: 0px;
    height: 610px;
    background-color: #1b80bf;

    .news__img {
      height: 300px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .newsTwo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    width: 100%;
    margin: 0px;
    height: 610px;
    padding-bottom: 10px;

    .news__img {
      height: 300px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .tittleNews {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .more__info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;

    .news__name {
      padding-top: 50px;
      width: 100%;
      height: 400px;

      img {
        width: 390px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .container__form {
    .news__form {
      width: 100%;

      h3 {
        font-size: 18px;
      }

      .fill {
        display: none;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .tittleNews {
    h2 {
      padding-left: 5%;
    }

    h3 {
      padding-left: 5%;
    }
  }

  .footer {
    display: flex;
    justify-content: space-evenly;

    .core__info {
      padding-top: 20px;
    }

    .follow__us {
      padding: 20px;
    }
  }

  /*hotels*/
  .argument {
    padding-left: 80px;
    padding-right: 80px;
  }

  .offers {
    .offer__container {
      width: 600px;
    }
  }

  /*contact*/
  .contact__container {
    .box__one {
      width: 500px;
    }

    .box__two {
      width: 500px;

      .location {
        .map {
          iframe {
            align-items: center;
            width: 500px;
          }
        }
      }

      .form__contacts {
        .individual {
          .individual__big {
            input {
              width: 400px;
            }
          }
        }
      }
    }
  }


}

@media screen and (min-width: 923px) {

  /*home*/
  .final__section {
    .final__services {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
}

@media screen and (min-width: 992px) {

  /*hotels*/
  .offers {
    .offer__container {
      width: 800px;
    }
  }

  .argument {
    padding-left: 100px;
    padding-right: 100px;
  }

  .card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media screen and (min-width: 1051px) {

  /*home*/
  .process {
    .steps {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {




  /*home*/
  .info__home {
    padding: 20px;

    .info__img {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;

      img {
        height: 400px;
        padding: 0px;
        width: 50%;
      }
    }

    .info__text {
      display: flex;

      .article__one {
        display: flex;
        flex-direction: column;
        background-color: #1b80bf;
        height: 400px;
        width: 352px;
        justify-content: center;

        p {
          padding-left: 20px;
          font-size: 20px;
          font-weight: lighter;
        }

        h3 {
          padding-left: 20px;
          font-size: 25px;
        }
      }

      .info__pandora {
        display: contents;

        img {
          height: 400px;
          padding: 0px;
        }
      }

      .article__two {
        display: contents;
        display: flex;
        flex-direction: column;
        background-color: #faead0;
        height: 400px;
        width: 352px;
        justify-content: center;
        align-items: center;

        h3 {
          font-family: "Port Lligat Slab";
          font-size: 25px;
          color: black;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .info__button {
          display: flex;
          justify-content: center;

          button {
            color: #ffffff;
            background-color: #245685;
            width: 150px;
            height: 30px;
            border-radius: 40%;
          }
        }
      }
    }
  }

  .final__section {
    h3 {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: 1400px) {

  /*home*/
  .img__carousel {
    img {
      height: 650px;
    }
  }

  .description {
    .descripAboutUs {
      margin-left: 150px;
      margin-right: 150px;
      padding-top: 50px;

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 25px;
        font-weight: lighter;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .info__home {
    .info__img {
      img {
        height: 334px;
        width: 641px;
      }
    }

    .info__text {
      display: flex;
      justify-content: center;
      padding: 0px;

      .article__one {
        height: 443px;
        width: 352px;
      }

      .article__two {
        height: 443px;
        width: 352px;
      }

      .info__pandora {
        img {
          height: 443px;
          width: 578px;
        }
      }
    }
  }

  /*hotels*/
  .offers {
    .offer__container {
      width: 900px;
    }
  }

  .card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 80px;
    padding-right: 80px;

    .card__individual {
      height: 432px;
      margin: 0px;
      width: 22rem;

      .card__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .argument {
    padding-left: 200px;
    padding-right: 200px;

    p {
      font-size: 20px;
    }
  }

  .video {
    padding-bottom: 120px;

    iframe {
      width: 748px;
      height: 436px;
    }
  }

  .tittle_hotels {
    h2 {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: 1900px) {

  /*contact*/
  .contact__container {
    .box__one {
      width: 800px;

      .individual__big {
        input {
          width: 650px;
        }
      }
    }

    .box__two {
      width: 800px;

      .location {
        .map {
          width: 800px;
          display: flex;
          padding-left: 50px;
          justify-content: left;
          padding-left: 50px;
        }
      }
    }
  }
}