@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin basic {
  text-align: center;
  font-family: $font-primary;
}

@mixin news {
  display: flex;
  font-family: $font-primary;
  text-align: left;
}
