@mixin flexWrap{
    display: flex;
    flex-wrap: wrap;
}

@mixin h1__home{
    font-size: 30px;
    font-family: $font-secondary;
}

@mixin h2__home{
    font-size: 18px;
    font-family: $font-primary;
    font-weight: bold;
}

@mixin h3__home{
    font-size: 18px;
    font-family: $font-primary;
}

@mixin basic{
    text-align: center;
    font-family: $font-primary;
}

@mixin news{
    display: flex;
    font-family: $font-primary;
    text-align: left;
}